<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
