@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<h1>User: @Session["userName"] </h1>
<h2>TipoUtilizadores</h2>

<div class='section' id='transactionsTableContainer'></div>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            //url: '/hermes/tipoUtilizadores',
            url: '/tipoUtilizadores',
            dataType: 'json',
            success: function (tipoUtilizadores) {
                var table = '<table><tr><th>tipoUtilizadores</th></tr>';
                //alert(tipoUtilizadores); //uncomment this for debug
                $.each(tipoUtilizadores, function (index, tTipoUsr) {
                    //table += '<tr><td><a href="/hermes/tipoutilizadores/' + tTipoUsr.idTipoUtilizador + '">' + tTipoUsr.nome + '</a> : /' + tTipoUsr.descricao + '/td><td></tr>';
                    table += '<tr><td><a href="/tipoutilizadores/' + tTipoUsr.idTipoUtilizador + '">' + tTipoUsr.nome + '</a> : /' + tTipoUsr.descricao + '/td><td></tr>';
                });

                table += '</table>';

                $('div[id="transactionsTableContainer"]').empty().append(table);
            }
        });
    });
</script>
